<form class="well">
  <div class="form-group">
    <label for="login">Login</label>
    <input ng-model="usuario.login" type="text" class="form-control" id="login" placeholder="Digite seu e-mail">
  </div>

  <div class="form-group">
    <label for="senha">Senha</label>
    <input ng-model="usuario.senha" type="password" class="form-control" id="senha" placeholder="Password">
  </div>

  <button type="reset" class="btn btn-default">Limpar</button>
  <button ng-click="entrar(usuario)" class="btn btn-primary">Entrar</button>
</form>