<form class="well">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" ng-model="usuario.nome">
  </div>

  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" placeholder="Digite um login" ng-model="usuario.login">
  </div>

  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" ng-model="usuario.senha">
  </div>

  <button class="btn btn-primary" ng-click="cadastrar(usuario)">Cadastrar</button>
</form>